:root {
  --white-backg: #fff;
  --blue-color: #0290ff;
  --blue-blur: #4386bf;
  --back-color: #121212;
  --size-small: 0.85rem;
  --border-size: 1px solid #e8e8e8;
}

.book-card {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.05);
  border: var(--border-size);
  border-radius: 4px;
  background-color: var(--white-backg);
  height: 10.6rem;
  margin: 0.5rem auto;
}

.article {
  margin-left: 1.7rem;
  width: 35%;
}

span {
  color: var(--back-color);
  font-size: 0.875rem;
  font-weight: bold;
  opacity: 0.5;
}

h2 {
  color: var(--back-color);
  height: 1.813rem;
  margin-top: 0.188rem;
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: -0.2px;
}

p {
  color: var(--blue-blur);
  font-size: 0.875rem;
  font-weight: 300;
}

ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.control-btn {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 1.313rem;
}

.btn button {
  width: 4.563rem;
  height: 1.188rem;
  margin: 0.188rem 0.938rem 0.125rem 0;
  font-size: 0.875rem;
  font-weight: 300;
  font-family: inherit;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
}

.btn button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.btn button:nth-child(2) {
  padding-left: 0.9rem;
  border-left: var(--border-size);
  border-right: var(--border-size);
}

.btn button:nth-child(3) {
  padding-left: 0.9rem;
}

article {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.article span {
  width: 3.063rem;
  height: 1.125rem;
  margin: 0 2.438rem 0 0;
  opacity: 0.5;
  font-size: 0.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--black-two);
}

.article h2 {
  width: 22.813rem;
  height: 1.813rem;
  margin: 0.188rem 9.688rem 0 0;
  font-size: 1.375rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: var(--black-two);
}

.article p {
  width: 6.688rem;
  height: 1.188rem;
  margin: 0.25rem 0 0;
  font-size: 0.875rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
}

.pourcentage {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: var(--border-size);
}

.loading {
  width: 4.25rem;
  height: 4.25rem;
  margin: 0 1.3rem;
  font-family: inherit;
  color: #379cf6;
}

.pourcentage span {
  width: 4.25rem;
  height: 2.438rem;
  margin: 0.063rem 5.75rem 0 0.688rem;
  font-size: 2rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgb(0, 0, 0);
}

.pourcentage p {
  width: 5rem;
  height: 1.125rem;
  margin: 0.438rem 4.938rem 0.75rem 0.75rem;
  opacity: 0.5;
  font-size: 0.875rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--back-color);
}

.update {
  width: 50%;
}

.update span {
  width: 7.875rem;
  height: 1.125rem;
  margin: 0.063rem 3.625rem 0 3.688rem;
  opacity: 0.5;
  font-size: 0.813rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--back-color);
}

.update h2 {
  width: 100%;
  height: 1.313rem;
  margin: 0.438rem 6.813rem 0.25rem 3.688rem;
  font-size: 1rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.4px;
}
/* stylelint-disable-next-line no-descending-specificity */
.update button {
  width: 11.5rem;
  height: 2.063rem;
  margin: 0.75rem 0 0.563rem 3.688rem;
  padding: 0.438rem 1.188rem 0.5rem 1.375rem;
  border-radius: 3px;
  background-color: #0290ff;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: center;
  color: #fff;
}

.update button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.empty {
  margin: 0 auto;
  color: red;
}
