:root {
  --white-backg: #fff;
  --blue-color: #0290ff;
  --blue-blur: #4386bf;
  --back-color: #121212;
  --size-small: 0.85rem;
  --border-size: 1px solid #e8e8e8;
}

@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
html * {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(247, 247, 247);
}

button {
  border: none;
  outline: none;
  background-color: transparent;
}

.check-status {
  margin-left: 50%;
  font-size: 0.8rem;
  font-weight: 300;
  letter-spacing: 0.5px;
  color: white;
  background-color: #0290ff;
  padding: 0.5rem 1.375rem;
  border-radius: 3px;
  text-align: center;
  transition: all 0.5s ease;
}

.check-status:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.h1 {
  font-size: 36px;
  margin-left: 50%;
}

/* .spinner {
  text-align: center;
  font-size: 36px;
  color: #0290ff;
} */

.main-container {
  background-color: rgb(255, 255, 255);
  margin: 3.75rem;
}

.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
}
