:root {
  --white-backg: #fff;
  --blue-color: #0290ff;
  --blue-blur: #4386bf;
  --back-color: #121212;
  --size-small: 0.85rem;
  --border-size: 1px solid #e8e8e8;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
}

.check-status {
  margin-left: 50%;
  font-size: 0.8rem;
  font-weight: 300;
  letter-spacing: 0.5px;
  color: white;
  background-color: #0290ff;
  padding: 0.5rem 1.375rem;
  border-radius: 3px;
  text-align: center;
  transition: all 0.5s ease;
}

.check-status:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.h1 {
  font-size: 36px;
  margin-left: 50%;
}
